body {
    background-color: #f5f7fa;
  }
  
  .card {
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .card-header {
    font-size: 1.2rem;
  }
  
/* Layanan Styling */
.table td:nth-child(2) {
    font-weight: bold;
    text-transform: capitalize;
  }  

  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Media query untuk tampilan mobile */
  @media (max-width: 768px) {
    .card {
      margin-bottom: 2rem;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .card-body h2 {
      font-size: 1.8rem;
    }
  
    .table {
      font-size: 0.9rem;
    }
  
    .form-select {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
  